body, html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

header {
  background-color: gray;
  /*padding: 0px 20vw;*/
  color: white;
  background-image: url("https://picsum.photos/id/180/1100/700");
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .5);
  z-index: -1;
}

nav {
  background-color: black;
}

.nav-list {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
}

.nav-list li {
  padding: 15px;
  /*border-radius: 6px;*/
  min-width: 80px;
  text-align: center;
}

.header-main-container {
  display: flex;
  padding: 10px;
  min-height: 65vh;
  margin: auto;
}

.hero-img {
  /*background-color: darkorange;*/
  height: 300px;
  width: 300px;
  border-radius: 50%;
  min-width: 300px;
  margin: inherit;
  background-image: url("images/IMG_127.jpg");
  /*background-image: url("https://picsum.photos/id/76/200/300");*/
  border: 1px solid;
}

.header-main-content {
  margin: inherit;
}

.header-main-content p {
  max-width: 450px;
  font-size: 1.28rem;
  /*background-color: rgba(15, 0, 0, 0.425);
  padding: 10px;
  border-radius: 4%;*/
}

.header-main-content h1 {
  font-size: 3.6rem;
  margin-bottom: 5px;
  /*color: rgb(10, 20, 40);*/
}