body {
    margin: 0;
    padding: 0;
    font-family: 'ibm plex mono', 'Courier New', Courier, monospace;
    color: #9c9c9c;
}

p {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
}

a {
    text-decoration: none;
    color: inherit;
}

.color-wht {
    color: #ffffff;
}

.color-blck{
    color: #080808;
}

.header-main {
    max-width: 935px;
}

.case-studies-main {
    max-width: 897px;
}

.testimonials-main {
    max-width: 920px;
}

.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.hero-heading {
    font-size: 59px;
    margin: auto;
}

#profile-pic {
    height: 350px;
    width: 350px;
    border-radius: 50%;
}

.hero-img {
    margin: auto;
}

.page-header {
    min-height: 700px;
    height: fit-content;
    background-color: #080808;
}

.top-menu {
    background-color: #1b1b1b;
    height: 70px;
    width: 80%;
    border-radius: 0 0 10px 10px;
    margin: auto;
    display: flex;
    padding: 0 3em;
    max-width:1080px;
}

.nav-list {
    display: flex;
    list-style-type: none;
    padding: 0;
}

.nav-list li {
    margin: 0 2em;
}

/*.social-links {
    min-width: 20%;
}*/

.hero-container {
    display: flex;
    margin-top: 80px;
}

.hero-text-content {
    margin: auto 80px auto 0;
}

.worked-with {
    margin-top: 57px;
}

.cta-button {
    background-color: #3F8E00;
    border: 1px solid #62BA1B;
    width: 307px;
    height: 63px;
    text-align: center;
    align-content: center;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 700;
    font-style: normal;
    font-size: 18.67px;
    margin-top: 25px;
}

.cta-link {
    text-decoration: none;
    display: block;
    width:307px;
    height:63px;
}

.client-logos {
    display: flex;
    justify-content: space-between;
}

.client-logo {
    width: 160px;
    height: 60px;
    border: 1px solid #1B1B1B;
    border-radius: 6px;
}

.section {
    padding-top: 80px;
    padding-bottom: 80px;
    margin: auto;
}

.section-header h2 {
    justify-self: center;
}

.section-header p {
    width: 70%;
    text-align: center;
    justify-self: center;
}

.section-body {
    margin-top: 60px;
}

.case-study {
    display: flex;
    justify-content: space-between;
    margin: 80px 0;
}

.case-study:nth-child(even) {
    flex-direction: row-reverse;
}

.case-study-content {
    margin: auto 0;
    width: 421px;
}

.case-study:nth-child(1) {
    margin-top: 0;
}

.case-study:nth-last-child(1) {
    margin-bottom: 0;
}

.case-study-img img {
    border-radius: 6px;
}

.testimonials {
    background-color: #080808;
}

.testimonials-body {
    display: flex;
    flex-wrap: wrap;
    gap: 60px 30px;
}

.testimony {
    border: 1px solid transparent;
    border-radius: 6px;
    background-image: 
        linear-gradient(#080808, #080808),
        linear-gradient(to right, #484848, #080808);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    position: relative;
    flex: 0 1 443px;
}

.testimony::before {
    content: '“';
    position: absolute;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 100px;
    top: -35px;
    left: 10px;
    color: #ffffff;
}

.testimony p {
    margin: 30px;
}

.testimony footer {
    display: flex;
    margin-left: 30px;
    margin-bottom: 30px;
}

.testimony footer img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
}

.testimony footer h3 {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #ffffff;
}