body {
    margin: 0;
    padding: 0;
    font-family: 'ibm plex mono', 'Courier New', Courier, monospace;
    color: #9c9c9c;
}

p {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
}

.color-wht {
    color: #ffffff;
}

.margin-lr {
    margin-left: 13em;
    margin-right: 13em;
}

.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.hero-heading {
    font-size: 59px;
    margin: auto;
}

#profile-pic {
    height: 350px;
    width: 350px;
    border-radius: 50%;
}

.hero-img {
    margin: auto;
}

header {
    min-height: 700px;
    height: fit-content;
    background-color: #080808;
}

.top-menu {
    background-color: #1b1b1b;
    height: 70px;
    width: 80%;
    border-radius: 0 0 10px 10px;
    margin: auto;
    display: flex;
    padding: 0 3em;
}

.nav-list {
    display: flex;
    list-style-type: none;
    padding: 0;
}

.nav-list li {
    margin: 0 2em;
}

/*.social-links {
    min-width: 20%;
}*/

.hero-container {
    display: flex;
    margin-top: 80px;
}

.hero-text-content {
    margin: auto 80px auto 0;
}

.worked-with {
    margin-top: 57px;
}

.cta-button {
    background-color: #3F8E00;
    border: 1px solid #62BA1B;
    width: 307px;
    height: 63px;
    text-align: center;
    align-content: center;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 700;
    font-style: normal;
    font-size: 18.67px;
    margin-top: 25px;
}

.cta-link {
    text-decoration: none;
    display: block;
    width:307px;
    height:63px;
}

.client-logos {
    display: flex;
    justify-content: space-between;
}

.client-logo {
    width: 160px;
    height: 60px;
    border: 1px solid #1B1B1B;
    border-radius: 6px;
}

.case-studies {
    margin-top: 80px;
    margin-bottom: 80px;
}

.case-studies-heading h2 {
    color: #080808;
    justify-self: center;
}

.case-studies-heading p {
    width: 70%;
    text-align: center;
    justify-self: center;
}

.case-study {
    display: flex;
}